INFURA_PROJECT_ID=your_infura_project_id
DEPLOYER_PRIVATE_KEY=your_private_key_without_0x
TOKEN_NAME=Mats Token
TOKEN_SYMBOL=MATS
TOKEN_INITIAL_SUPPLY=1000000
MATS_TOKEN_ADDRESS=your_existing_mats_token_address
MATS_SWAP_POOL_ADDRESS=your_swap_pool_address
IDRX_TOKEN_ADDRESS=your_existing_idrx_token_address
IDRX_SWAP_POOL_ADDRESS=your_idrx_swap_pool_address
POOL_TOKEN_LIQUIDITY=10000
POOL_ETH_LIQUIDITY=0.5
