<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <queries>
        <package android:name="com.binance.dev" />
        <package android:name="com.binance.client" />
        <package android:name="com.binance.android" />
        <package android:name="com.binance.app" />
        <package android:name="us.binance.dev" />
        <package android:name="com.binance.us" />
        <package android:name="com.coinbase.android" />
        <package android:name="com.kraken.invest.app" />
        <package android:name="com.okinc.okex.gp" />
        <package android:name="id.co.indodax" />
    </queries>

    <application
        android:name=".MatsWalletApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ethernest1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ethernest1"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekAkhir"
        android:usesCleartextTraffic="false"
        tools:targetApi="35">

        <activity
            android:name=".ui.send.PortraitCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.receive.ReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy.BuyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy.PaymentWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.send.SendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.BiometricLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PinLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ImportWalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.PinSetupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
